Negocio/Service References/ServicoConcessionaria/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50498/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo" />
  <xs:element name="InsertFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q1:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFabricantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFabricantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectFabricantesResult" nillable="true" type="q2:ArrayOfFabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q3:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q4:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="v" nillable="true" type="q5:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVeiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectVeiculosResult" nillable="true" type="q6:ArrayOfVeiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculosDisponiveis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculosDisponiveisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectVeiculosDisponiveisResult" nillable="true" type="q7:ArrayOfVeiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculosVendidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculosVendidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectVeiculosVendidosResult" nillable="true" type="q8:ArrayOfVeiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="v" nillable="true" type="q9:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVeiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>